<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/iMatch Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/home.css" >
    <script src="https://kit.fontawesome.com/9e7aa5c30a.js" crossorigin="anonymous"></script>   
    
    <title>Home</title>
</head>
<body>
    <header>
        <nav>
            <i class="fa-solid fa-user"></i>
            <img src="../img/iMatch Logo.png" alt="">
            <i class="fa-solid fa-bell"></i>
        </nav>
    </header>
    <main>
        <div class="post">
            <div class="user">
                <div class="profile">
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="info">
                    <h3 class="usersname">Kurttzy</h3>
                    <span class="time">5 hrs</span>
                    <i class="fa-solid fa-earth-americas"></i>
                </div>
            </div>

            <figure>
                <figcaption>Aking ngiti sa kalungkutan</figcaption>
                <img src="https://z-p3-scontent.fmnl6-1.fna.fbcdn.net/v/t1.15752-9/300838010_493304205944556_3420557161558998630_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEW9NTix0aTuwMOG6Ioz-stUuX-C62H95VS5f4LrYf3le9yaLjUzXZqNKfkbU8j-DL9IfMOMCQxum6b0ObRypt4&_nc_ohc=AvbDn-CaNkMAX9YeJnt&_nc_ht=z-p3-scontent.fmnl6-1.fna&oh=03_AVL3acbT0XizMme8Mcpt7mwWOK8SySCnOOTQZpZVxi0VxA&oe=6342C75E" alt="" height="300">
                
            </figure>
            <div class="feedback">
                <button type="button" class="like">
                    <i class="fa-solid fa-heart"></i>
                    <span>Like</span>
                    
                </button>
                <button type="button" class="comment">
                    <i class="fa-solid fa-message"></i>
                    <span>Comment</span>
                </button>
            </div>
        </div>
    </main>
    <footer>
        <nav>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-hand-pointer"></i>
            <i class="fa-solid fa-microphone"></i>
            <i class="fa-solid fa-message"></i>
        </nav>
    </footer>
</body>
</html>