<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/iMatch Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/login.css">
    
    <script src="https://kit.fontawesome.com/9e7aa5c30a.js" crossorigin="anonymous"></script>   
    <title>Log in</title>
</head>
<body>
    <main>
        <div class="header">
            <img class="logo" src="../img/iMatch Logo.png" alt="iMATCH logo">
            <img class="iMATCH-text" src="../img/iMATCH.png" alt="iMATCH">
        </div>

        <div class="signin">
            <div class="signin-soc">
                <h3>
                    Sign in to iMatch  
                </h3>
                <div class="buttons">
                    <button type="button" class="button">
                        <img src="../img/google-icon.png" alt="">
                        <span>Sign up with Google</span>
                    </button>
                    <button type="button" class="button">
                        <i class="fa-brands fa-apple"></i>
                        <span>Sign up with Apple</span>
                    </button>
                </div>
            </div>

            <div class="signin-phone">
                <span>or</span>
                <input type="text" name="useremail" id="useremail" placeholder="Phone, email, or username">
                <button type="button" class="button">Next</button>
                
                <button type="button" class="button">Forgot password?</button>
                <p>Don't have account? 
                    <a href="./signup.html">Sign up</a>
                    
                 </p>
 
                 
            </div>

        </div>
    </main>
</body>
</html>